<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>elrte-example</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>HOME_SHARED_DOCS</param-name>
		<param-value>/temp/shared-docs</param-value>
	</context-param>
	<context-param>
		<param-name>THUMBNAIL</param-name>
		<param-value>/thumb.jsp?p=</param-value>
	</context-param>
	<context-param>
		<param-name>SHARED_DOCS</param-name>
		<param-value>Shared docsüğişçö</param-value>
	</context-param>
	<servlet>
		<display-name>Elrte Servlet</display-name>
		<servlet-name>ElrteConnector</servlet-name>
		<servlet-class>my.elconnector.ElfinderConnectorServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ElrteConnector</servlet-name>
		<url-pattern>/servlet/ElrteConnector</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
</web-app>